/* line 4, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_reset.scss */
body {
  font: 16px 'Open Sans', sans-serif;
  background: #fafafa;
  color: #0A1829;
}

/* line 16, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

/* line 20, ../sass/_reset.scss */
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* line 26, ../sass/_reset.scss */
ul {
  list-style: none;
}

/* line 1, ../sass/_commun.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* line 5, ../sass/_commun.scss */
h2 {
  color: #588E95;
  text-align: left;
}

/* line 10, ../sass/_commun.scss */
h3 {
  font-weight: bold;
}

/* line 14, ../sass/_commun.scss */
hr {
  border: none;
  height: 2px;
  width: 100px;
  background: #588E95;
  margin: 25px 0;
}

/* line 22, ../sass/_commun.scss */
time {
  color: #588E95;
  font-weight: bold;
}

/* line 27, ../sass/_commun.scss */
.btn {
  display: inline-block;
  background: #588E95;
  color: #fafafa;
  padding: 8px 23px;
  border-radius: 5px 5px;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
}

@media screen and (min-width: 1170px) {
  /* line 37, ../sass/_commun.scss */
  .container {
    width: 1170px;
    margin: 0 auto;
  }

  /* line 41, ../sass/_commun.scss */
  .about, .profil, .formation, .techcomp, .exp {
    padding: 80px 0;
  }

  /* line 44, ../sass/_commun.scss */
  article {
    margin: 20px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 50, ../sass/_commun.scss */
  .container {
    width: 992px;
    margin: 0 auto;
  }

  /* line 54, ../sass/_commun.scss */
  .about, .profil, .formation, .techcomp, .exp {
    padding: 70px 0;
  }

  /* line 57, ../sass/_commun.scss */
  article {
    margin: 15px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 63, ../sass/_commun.scss */
  .container {
    width: 750px;
    margin: 0 auto;
  }

  /* line 67, ../sass/_commun.scss */
  .about, .profil, .formation, .techcomp, .exp {
    padding: 50px 0;
  }

  /* line 70, ../sass/_commun.scss */
  article {
    margin: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 76, ../sass/_commun.scss */
  .container {
    width: 90%;
    margin: 0 auto;
  }

  /* line 80, ../sass/_commun.scss */
  .about, .profil, .formation, .techcomp, .comp, .exp {
    padding-top: 90px;
  }

  /* line 83, ../sass/_commun.scss */
  article {
    margin: 20px 0;
  }
}
/* line 1, ../sass/_header.scss */
header {
  background: url(../img/bg_header.jpg) no-repeat center center;
  background-size: cover;
  color: #fafafa;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
  position: relative;
  z-index: 9999;
}
/* line 8, ../sass/_header.scss */
header h1, header p, header cite {
  text-align: center;
}
/* line 11, ../sass/_header.scss */
header h1 {
  cursor: pointer;
}
/* line 14, ../sass/_header.scss */
header p {
  color: #588E95;
}
/* line 17, ../sass/_header.scss */
header img {
  display: block;
  text-align: center;
  border-radius: 50%;
}
/* line 22, ../sass/_header.scss */
header cite {
  display: block;
}
/* line 25, ../sass/_header.scss */
header nav {
  background: #588E95;
}

@media screen and (min-width: 1170px) {
  /* line 31, ../sass/_header.scss */
  header {
    padding-top: 50px;
  }
  /* line 33, ../sass/_header.scss */
  header h1 {
    font-size: 55px;
    letter-spacing: 5px;
  }
  /* line 37, ../sass/_header.scss */
  header p {
    font-size: 30px;
    letter-spacing: 3px;
  }
  /* line 41, ../sass/_header.scss */
  header img {
    margin: 50px auto;
  }
  /* line 44, ../sass/_header.scss */
  header cite {
    margin: 30px;
    font-size: 20px;
  }
  /* line 47, ../sass/_header.scss */
  header cite span {
    font-size: 30px;
    color: #588E95;
  }
  /* line 53, ../sass/_header.scss */
  header nav ul {
    text-align: center;
  }
  /* line 55, ../sass/_header.scss */
  header nav ul li {
    display: inline-block;
    width: 19%;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  /* line 60, ../sass/_header.scss */
  header nav ul li a {
    line-height: 40px;
  }
  /* line 64, ../sass/_header.scss */
  header nav ul li:hover {
    background: #fafafa;
    color: #0A1829;
    opacity: 0.5;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 75, ../sass/_header.scss */
  header {
    padding-top: 40px;
  }
  /* line 77, ../sass/_header.scss */
  header h1 {
    font-size: 55px;
    letter-spacing: 5px;
  }
  /* line 81, ../sass/_header.scss */
  header p {
    font-size: 30px;
    letter-spacing: 3px;
  }
  /* line 85, ../sass/_header.scss */
  header img {
    margin: 50px auto;
  }
  /* line 88, ../sass/_header.scss */
  header cite {
    margin: 30px;
    font-size: 20px;
  }
  /* line 91, ../sass/_header.scss */
  header cite span {
    font-size: 30px;
    color: #588E95;
  }
  /* line 97, ../sass/_header.scss */
  header nav ul {
    text-align: center;
  }
  /* line 99, ../sass/_header.scss */
  header nav ul li {
    display: inline-block;
    width: 19%;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  /* line 104, ../sass/_header.scss */
  header nav ul li a {
    line-height: 40px;
  }
  /* line 108, ../sass/_header.scss */
  header nav ul li:hover {
    background: #fafafa;
    color: #0A1829;
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 119, ../sass/_header.scss */
  header {
    padding-top: 30px;
  }
  /* line 121, ../sass/_header.scss */
  header h1 {
    font-size: 45px;
    letter-spacing: 5px;
  }
  /* line 125, ../sass/_header.scss */
  header p {
    font-size: 25px;
    letter-spacing: 3px;
  }
  /* line 129, ../sass/_header.scss */
  header img {
    margin: 50px auto;
  }
  /* line 132, ../sass/_header.scss */
  header cite {
    margin: 25px;
    font-size: 18px;
  }
  /* line 135, ../sass/_header.scss */
  header cite span {
    font-size: 25px;
    color: #588E95;
  }
  /* line 141, ../sass/_header.scss */
  header nav ul {
    text-align: center;
  }
  /* line 143, ../sass/_header.scss */
  header nav ul li {
    display: inline-block;
    width: 19%;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  /* line 148, ../sass/_header.scss */
  header nav ul li a {
    line-height: 40px;
  }
  /* line 152, ../sass/_header.scss */
  header nav ul li:hover {
    background: #fafafa;
    color: #0A1829;
    opacity: 0.5;
  }
}
@media screen and (max-width: 767px) {
  /* line 163, ../sass/_header.scss */
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  /* line 169, ../sass/_header.scss */
  header .container {
    overflow: hidden;
    padding: 10px 0;
    position: relative;
  }
  /* line 173, ../sass/_header.scss */
  header .container h1 {
    font-size: 20px;
    text-align: left;
  }
  /* line 177, ../sass/_header.scss */
  header .container p {
    font-size: 14px;
    text-align: left;
  }
  /* line 181, ../sass/_header.scss */
  header .container p::before {
    content: '\f0c9';
    font-family: 'FontAwesome';
    font-size: 35px;
    color: #fafafa;
    position: absolute;
    top: 24%;
    right: 0;
  }
  /* line 190, ../sass/_header.scss */
  header .container img, header .container cite {
    display: none;
  }
  /* line 194, ../sass/_header.scss */
  header nav {
    display: none;
  }
  /* line 196, ../sass/_header.scss */
  header nav ul {
    text-align: center;
  }
  /* line 198, ../sass/_header.scss */
  header nav ul li {
    line-height: 60px;
  }
}
@media screen and (min-width: 1170px) {
  /* line 2, ../sass/_about.scss */
  .about {
    background: url(../img/bg_prez.jpg) no-repeat right;
  }
  /* line 4, ../sass/_about.scss */
  .about .inner-prez {
    width: 60%;
  }
  /* line 7, ../sass/_about.scss */
  .about p {
    margin: 20px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 14, ../sass/_about.scss */
  .about {
    background: url(../img/bg_prez.jpg) no-repeat top right;
  }
  /* line 16, ../sass/_about.scss */
  .about .inner-prez {
    width: 60%;
  }
  /* line 19, ../sass/_about.scss */
  .about p {
    margin: 15px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 27, ../sass/_about.scss */
  .about p {
    margin: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 35, ../sass/_about.scss */
  .about p {
    margin: 15px 0;
    text-align: justify;
  }
}
/* line 2, ../sass/_profil.scss */
.profil .btn::before {
  content: '\f019';
  font-family: 'FontAwesome';
  margin-right: 10px;
}

@media screen and (min-width: 1170px) {
  /* line 10, ../sass/_profil.scss */
  .profil {
    text-align: center;
  }
  /* line 12, ../sass/_profil.scss */
  .profil .inner-profil {
    overflow: hidden;
  }
  /* line 14, ../sass/_profil.scss */
  .profil .inner-profil article {
    float: left;
    width: 33.333333%;
  }
  /* line 17, ../sass/_profil.scss */
  .profil .inner-profil article h3 {
    margin: 20px 0;
    letter-spacing: 1px;
  }
  /* line 23, ../sass/_profil.scss */
  .profil .btn {
    margin-top: 15px;
  }
  /* line 26, ../sass/_profil.scss */
  .profil .btn:hover {
    -moz-box-shadow: 0 0 8px #555 inset;
    -webkit-box-shadow: 0 0 8px #555 inset;
    box-shadow: 0 0 8px #555 inset;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 33, ../sass/_profil.scss */
  .profil {
    text-align: center;
  }
  /* line 35, ../sass/_profil.scss */
  .profil .inner-profil {
    overflow: hidden;
  }
  /* line 37, ../sass/_profil.scss */
  .profil .inner-profil article {
    float: left;
    width: 33.333333%;
  }
  /* line 40, ../sass/_profil.scss */
  .profil .inner-profil article h3 {
    margin: 15px 0;
    letter-spacing: 1px;
  }
  /* line 46, ../sass/_profil.scss */
  .profil .btn {
    margin-top: 10px;
  }
  /* line 49, ../sass/_profil.scss */
  .profil .btn:hover {
    -moz-box-shadow: 0 0 8px #555 inset;
    -webkit-box-shadow: 0 0 8px #555 inset;
    box-shadow: 0 0 8px #555 inset;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 56, ../sass/_profil.scss */
  .profil {
    text-align: center;
  }
  /* line 58, ../sass/_profil.scss */
  .profil .inner-profil {
    overflow: hidden;
  }
  /* line 60, ../sass/_profil.scss */
  .profil .inner-profil article {
    float: left;
    width: 33.333333%;
  }
  /* line 63, ../sass/_profil.scss */
  .profil .inner-profil article h3 {
    margin: 10px 0;
    letter-spacing: 1px;
  }
  /* line 69, ../sass/_profil.scss */
  .profil .btn {
    margin-top: 10px;
  }
  /* line 72, ../sass/_profil.scss */
  .profil .btn:hover {
    -moz-box-shadow: 0 0 8px #555 inset;
    -webkit-box-shadow: 0 0 8px #555 inset;
    box-shadow: 0 0 8px #555 inset;
  }
}
@media screen and (max-width: 767px) {
  /* line 79, ../sass/_profil.scss */
  .profil {
    text-align: center;
  }
  /* line 81, ../sass/_profil.scss */
  .profil .btn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1170px) {
  /* line 2, ../sass/_formation.scss */
  .formation {
    background: url(../img/bg_formations.jpg) no-repeat left;
    text-align: right;
  }
  /* line 5, ../sass/_formation.scss */
  .formation h2 {
    text-align: right;
  }
  /* line 8, ../sass/_formation.scss */
  .formation hr {
    float: right;
  }
  /* line 11, ../sass/_formation.scss */
  .formation article {
    clear: both;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 18, ../sass/_formation.scss */
  .formation {
    background: url(../img/bg_formations.jpg) no-repeat left;
    text-align: right;
  }
  /* line 21, ../sass/_formation.scss */
  .formation h2 {
    text-align: right;
  }
  /* line 24, ../sass/_formation.scss */
  .formation hr {
    float: right;
  }
  /* line 27, ../sass/_formation.scss */
  .formation article {
    clear: both;
  }
}
/* line 2, ../sass/_techcomp.scss */
.tech .inner-tech {
  margin-top: 20px;
}
/* line 4, ../sass/_techcomp.scss */
.tech .inner-tech .fond-jauge {
  width: 100%;
  text-align: left;
  border-radius: 10px 10px;
  -moz-box-shadow: 0 2px 5px #555 inset;
  -webkit-box-shadow: 0 2px 5px #555 inset;
  box-shadow: 0 2px 5px #555 inset;
  overflow: hidden;
}
/* line 10, ../sass/_techcomp.scss */
.tech .inner-tech .fond-jauge .jauge {
  background: #588E95;
  height: 100%;
  padding-left: 10px;
}

@media screen and (min-width: 1170px) {
  /* line 21, ../sass/_techcomp.scss */
  .techcomp .container {
    overflow: hidden;
  }
  /* line 23, ../sass/_techcomp.scss */
  .techcomp .container .tech {
    float: left;
    width: 30%;
    padding-right: 50px;
  }
  /* line 28, ../sass/_techcomp.scss */
  .techcomp .container .comp {
    float: right;
    width: 70%;
  }
  /* line 31, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp {
    overflow: hidden;
  }
  /* line 33, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .webdesign, .techcomp .container .comp .inner-comp .dev {
    width: 50%;
    float: left;
    padding-right: 25px;
  }
  /* line 37, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .webdesign p, .techcomp .container .comp .inner-comp .dev p {
    text-align: justify;
    margin: 5px 0;
  }
  /* line 40, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .webdesign p span, .techcomp .container .comp .inner-comp .dev p span {
    font-weight: bold;
  }
  /* line 45, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .projet, .techcomp .container .comp .inner-comp .divers {
    width: 50%;
    float: right;
    text-align: right;
    padding-left: 25px;
  }
  /* line 50, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .projet p, .techcomp .container .comp .inner-comp .divers p {
    text-align: justify;
    margin: 5px 0;
  }
  /* line 53, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .projet p span, .techcomp .container .comp .inner-comp .divers p span {
    font-weight: bold;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 66, ../sass/_techcomp.scss */
  .techcomp .container {
    overflow: hidden;
  }
  /* line 68, ../sass/_techcomp.scss */
  .techcomp .container .tech {
    float: left;
    width: 30%;
    padding-right: 50px;
  }
  /* line 73, ../sass/_techcomp.scss */
  .techcomp .container .comp {
    float: right;
    width: 70%;
  }
  /* line 76, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp {
    overflow: hidden;
  }
  /* line 78, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .webdesign, .techcomp .container .comp .inner-comp .dev {
    width: 50%;
    float: left;
    padding-right: 25px;
  }
  /* line 82, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .webdesign p, .techcomp .container .comp .inner-comp .dev p {
    text-align: justify;
    margin: 5px 0;
  }
  /* line 85, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .webdesign p span, .techcomp .container .comp .inner-comp .dev p span {
    font-weight: bold;
  }
  /* line 90, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .projet, .techcomp .container .comp .inner-comp .divers {
    width: 50%;
    float: right;
    text-align: right;
    padding-left: 25px;
  }
  /* line 95, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .projet p, .techcomp .container .comp .inner-comp .divers p {
    text-align: justify;
    margin: 5px 0;
  }
  /* line 98, ../sass/_techcomp.scss */
  .techcomp .container .comp .inner-comp .projet p span, .techcomp .container .comp .inner-comp .divers p span {
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 111, ../sass/_techcomp.scss */
  .techcomp p {
    text-align: justify;
    margin: 5px 0;
  }
  /* line 114, ../sass/_techcomp.scss */
  .techcomp p span {
    font-weight: bold;
  }

  /* line 119, ../sass/_techcomp.scss */
  .tech {
    width: 50%;
  }

  /* line 122, ../sass/_techcomp.scss */
  .comp {
    margin-top: 50px;
  }

  /* line 125, ../sass/_techcomp.scss */
  .webdesign, .projet, .dev, .divers {
    margin: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 131, ../sass/_techcomp.scss */
  .techcomp {
    text-align: justify;
  }
  /* line 133, ../sass/_techcomp.scss */
  .techcomp p {
    text-align: justify;
    margin: 5px 0;
  }
  /* line 136, ../sass/_techcomp.scss */
  .techcomp p span {
    font-weight: bold;
  }
  /* line 140, ../sass/_techcomp.scss */
  .techcomp .projet, .techcomp .divers, .techcomp .langues {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1170px) {
  /* line 2, ../sass/_exp.scss */
  .exp {
    background: url(../img/bg_exp.jpg) no-repeat right;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 8, ../sass/_exp.scss */
  .exp {
    background: url(../img/bg_exp.jpg) no-repeat right;
  }
}
@media screen and (max-width: 767px) {
  /* line 14, ../sass/_exp.scss */
  .exp {
    padding-bottom: 50px;
  }
}
/* line 1, ../sass/_footer.scss */
footer {
  background: #0A1829;
  color: #fafafa;
  -moz-box-shadow: 0 -2px 5px #555;
  -webkit-box-shadow: 0 -2px 5px #555;
  box-shadow: 0 -2px 5px #555;
}
/* line 5, ../sass/_footer.scss */
footer section {
  text-align: center;
}
/* line 7, ../sass/_footer.scss */
footer section h2 {
  text-align: center;
}
/* line 10, ../sass/_footer.scss */
footer section hr {
  margin: 25px auto;
}
/* line 14, ../sass/_footer.scss */
footer section article h3 {
  color: #588E95;
}
/* line 18, ../sass/_footer.scss */
footer section .tel, footer section .mail {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}
/* line 23, ../sass/_footer.scss */
footer section .tel::before, footer section .mail::before {
  font-family: 'FontAwesome';
  color: #588E95;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
/* line 30, ../sass/_footer.scss */
footer section .tel::before {
  content: '\f095';
}
/* line 33, ../sass/_footer.scss */
footer section .mail::before {
  content: '\f0e0';
}
/* line 38, ../sass/_footer.scss */
footer .assets a::before {
  font-family: 'FontAwesome';
  color: #588E95;
  font-size: 35px;
  margin: 10px 5px;
  transition-duration: 0.5s;
}
/* line 45, ../sass/_footer.scss */
footer .assets a:hover::before {
  color: #fafafa;
}
/* line 48, ../sass/_footer.scss */
footer .assets a[title="Linkedin"]::before {
  content: '\f08c';
}
/* line 51, ../sass/_footer.scss */
footer .assets a[title="Viadeo"]::before {
  content: '\f2aa';
}
/* line 54, ../sass/_footer.scss */
footer .assets a[title="GitHub"]::before {
  content: '\f092';
}
/* line 57, ../sass/_footer.scss */
footer .assets a[title="BitBucket"]::before {
  content: '\f172';
}
/* line 61, ../sass/_footer.scss */
footer .copyright {
  background: #588E95;
  color: #0A1829;
}
/* line 64, ../sass/_footer.scss */
footer .copyright p {
  text-align: center;
}
/* line 66, ../sass/_footer.scss */
footer .copyright p a {
  color: #fafafa;
}

@media screen and (min-width: 1170px) {
  /* line 74, ../sass/_footer.scss */
  footer {
    padding-top: 50px;
  }
  /* line 76, ../sass/_footer.scss */
  footer .container {
    overflow: hidden;
  }
  /* line 78, ../sass/_footer.scss */
  footer .container section {
    float: left;
    width: 33.333333%;
    padding: 0 25px;
  }
  /* line 84, ../sass/_footer.scss */
  footer .copyright {
    margin-top: 25px;
  }
  /* line 86, ../sass/_footer.scss */
  footer .copyright p {
    line-height: 50px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  /* line 94, ../sass/_footer.scss */
  footer {
    padding-top: 50px;
  }
  /* line 96, ../sass/_footer.scss */
  footer .container {
    overflow: hidden;
  }
  /* line 98, ../sass/_footer.scss */
  footer .container section {
    float: left;
    width: 33.333333%;
    padding: 0 20px;
  }
  /* line 104, ../sass/_footer.scss */
  footer .copyright {
    margin-top: 25px;
  }
  /* line 106, ../sass/_footer.scss */
  footer .copyright p {
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 114, ../sass/_footer.scss */
  footer {
    padding-top: 50px;
  }
  /* line 116, ../sass/_footer.scss */
  footer .container {
    overflow: hidden;
  }
  /* line 118, ../sass/_footer.scss */
  footer .container section {
    float: left;
    width: 33.333333%;
    padding: 0 20px;
  }
  /* line 124, ../sass/_footer.scss */
  footer .copyright {
    margin-top: 25px;
  }
  /* line 126, ../sass/_footer.scss */
  footer .copyright p {
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  /* line 134, ../sass/_footer.scss */
  footer {
    padding-top: 40px;
  }
  /* line 136, ../sass/_footer.scss */
  footer .contact, footer .assets {
    margin-top: 25px;
  }
  /* line 139, ../sass/_footer.scss */
  footer .copyright {
    margin-top: 25px;
    font-size: 14px;
    padding: 10px 0;
  }
}
