h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h2 {
    color: $vert;
    text-align: left;
}

h3 {
    font-weight: bold;
}

hr {
    border: none;
    height: 2px;
    width: 100px;
    background: $vert;
    margin: 25px 0;
}

time {
    color: $vert;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
    .about, .formation, .exp {
        padding: 80px 0;
    }
    article {
        margin: 20px 0;
    }
}