footer {
    background: $bleu;
    color: $blanc;
    @include box-shadow (0 -2px 5px $gris);
    section {
        text-align: center;
        h2 {
            text-align: center;
        }
        hr {
            margin: 25px auto;
        }
        article {
            h3 {
                color: $vert;
            }
        }
        .tel, .mail {
            display: block;
            margin: 10px 0;
            cursor: pointer;
        }
        .tel::before, .mail::before {
            font-family: 'FontAwesome';
            color: $vert;
            margin-right: 10px;
            font-size: 20px;
            vertical-align: middle;
        }
        .tel::before {
            content: '\f095';
        }
        .mail::before {
            content: '\f0e0';
        }
    }
    .assets {
        a::before {
            font-family: 'FontAwesome';
            color: $vert;
            font-size: 35px;
            margin: 10px 5px;
            transition-duration: 0.5s;
        }
        a:hover::before {
            color: $blanc;
        }
        a[title="Linkedin"]::before {
            content: '\f08c';
        }
        a[title="Viadeo"]::before {
            content: '\f2aa';
        }
        a[title="GitHub"]::before {
            content: '\f092';
        }
        a[title="BitBucket"]::before {
            content: '\f172';
        }
    }
    .copyright {
        background: $vert;
        color: $bleu;
        p {
            text-align: center;
            a {
                color: $blanc;
            }
        }
    }
    .contact article {
            h3 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
            }
        }
}

@media screen and (min-width: 1170px) {
    footer {
        padding-top: 50px;
        .container {
            overflow: hidden;
            section {
                float: left;
                width: 33.333333%;
                padding: 0 25px;
            }
        }
        .copyright {
            margin-top: 25px;
            p {
                line-height: 50px;
            }
        }
        .contact article {
            margin: 38px 0 0 0;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1169px) {
    footer {
        padding-top: 50px;
        .container {
            overflow: hidden;
            section {
                float: left;
                width: 33.333333%;
                padding: 0 20px;
            }
        }
        .copyright {
            margin-top: 25px;
            p {
                line-height: 40px;
            }
        }
        .contact article {
            margin: 27px 0 0 0;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        padding-top: 50px;
        .container {
            overflow: hidden;
            section {
                float: left;
                width: 33.333333%;
                padding: 0 20px;
            }
        }
        .copyright {
            margin-top: 25px;
            p {
                line-height: 40px;
            }
        }
        .contact article {
            margin: 25px 0 0 0;
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        padding-top: 40px;
        .contact, .assets {
            margin-top: 25px;
        }
        .copyright {
            margin-top: 25px;
            font-size: 14px;
            padding: 10px 0;
        }
        .contact article {
            margin: 20px 0 0 0;
        }
    }
}