footer {
    background: $bleu;
    color: $blanc;
    @include box-shadow (0 -2px 5px $gris);
    section {
        text-align: center;
        h2 {
            text-align: center;
        }
        hr {
            margin: 25px auto;
        }
        article {
            h3 {
                color: $vert;
            }
        }
        .tel, .mail {
            display: block;
            margin: 10px 0;
        }
        .tel::before, .mail::before {
            font-family: 'FontAwesome';
            color: $vert;
            margin-right: 10px;
            font-size: 30px;
            vertical-align: middle;
        }
        .tel::before {
            content: '\f095';
        }
        .mail::before {
            content: '\f0e0';
        }
    }
    .copyright {
        background: $vert;
        color: $bleu;
        p {
            text-align: center;
            a {
                color: $blanc;
            }
        }
    }
}

@media screen and (min-width: 1170px) {
    footer {
        padding-top: 50px;
        .container {
            overflow: hidden;
            section {
                float: left;
                width: 33.333333%;
                padding: 0 25px;
            }
        }
        .copyright {
            margin-top: 25px;
            p {
                line-height: 50px;
            }
        }
    }
}